*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* fonts */
  --main-font: 'Roboto';
  --secondary-font: 'Raleway';
  /* color-text */
  --accent-clr: #2196f3;
  --secondary-clr: #757575;
  --white-clr: #ffffff;
  --basic-clr: #212121;
  /* backgroud color */
  --basic-background: #ffffff;
  --secondary-background: #2f303a;
  /* other */
  --items: 3;
  --indent: 30px;
}
/* Common */
body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--basic-clr);
  background-color: var(--basic-background);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--white-clr);
}

/* .card-set {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
} */
/* reset */
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Styles start*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
/* Styles end */

/* header */
.header-container {
  display: flex;
  align-items: center;
}

/* logo */

.logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
/* navigation */
.nav {
  display: flex;
  align-items: center;
}

.logo-web {
  color: var(--accent-clr);
}
.curent.site-nav-link {
  color: var(--accent-clr);
}

.site-nav-list {
  display: flex;
}
.site-nav-link:not(:last-child) {
  margin-right: 40px;
}
.nav-item:not(:last-child) {
  margin-right: 40px;
}
.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: var(--basic-clr);
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-clr);
}
/* contacts */

.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: var(--secondary-clr);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-clr);
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--secondary-background);
}

.hero-header {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-clr);
}
/* button*/
.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  padding: 10px 32px 10px 32px;
  border: none;
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-family: inherit;
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Feature */
.feature-item {
  width: 270px;
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature-list {
  margin: auto;
  display: flex;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--basic-clr);
}
.feature-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-clr);
}

/* work and team title */

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* work */
.about {
  padding-top: 0;
}
.work-list {
  display: flex;
}
.work-img:not(:last-child) {
  margin-right: 30px;
}

/* team */
.team-list {
  display: flex;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-member-prof {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-clr);
}
.team-deck {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* footer */

.footer > .container > .logo {
  display: block;
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-clr);
  margin-right: 0px;
  margin-bottom: 20px;
}

.footer {
  padding: 60px 0px;
  background-color: var(--secondary-background);
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address {
  font-style: normal;
}

.link-address {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-clr);
}
.address-list-item {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.address-list-item:hover,
.address-list-item:focus {
  color: var(--accent-clr);
}

/* Portfolio */

/* portfolio filters */
.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button.activ-btn {
  background-color: var(--accent-clr);
  color: var(--white-clr);
}

.filter-button {
  padding: 6px 22px 6px 22px;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: #f5f4fa;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-clr);
  color: var(--white-clr);
}

/* Project */



.project-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-clr);
}

.project-desc {
  padding: 20px 24px;
}

/* Сетка */

.card-set {
  display: flex;
  flex-wrap: wrap;  
}
.card-set-item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 3);
}
.card-set-item:nth-child(3n){
  margin-right: 0px;
}
.card-set-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.project-item {
  border: 1px solid #eeeeee;
}